body {
    background-color: #FEFCE3 !important;   
}
.loading {
    font-size: 55px;
    padding: 5%; 
    font-family: 'Playfair Display', serif;
}
// @media screen and (max-width:1200px) {
// }
// @media screen and (max-width:960px) {}
@media screen and (max-width:770px) {
    .about-author-body{
        padding: 0 5% !important;
    }
}
@media screen and (max-width:700px) {
   .about-author-block {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .about-author-block-image{
        margin-bottom: 5%;
    }
   }
}

@media screen and (max-width:400px) {
        .recipe-details-wrapper {
            font-size: 14px;
            .recipe-details-container  {
                .recipe-details-description {
                    font-size: 18px !important;
                }
                .recipe-date {
                    top: 50px !important;
                }
                .recipe-details-header {
                    padding-top: 0px !important;
                    padding-bottom: 45px !important;
                }
                .recipe-details-content-wrapper {
                    flex-direction: column;
                    align-items: center;
                    .recipe-details-image {
                        width: 98% !important;
                        margin-bottom: 4%;
                    }
                    .recipe-details-content {
                        width: 98% !important;
                        margin-right: 3%;
                    }
                }
        }
    }
}
